h1,
.btn-submit {
  display: flex;
  justify-content: center;
}

h1 {
  color: black;
}

p {
  font-size: medium;
}

.card-container {
  padding: 20px;
}

.card {
  position: unset;
  width: 400px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}

.btn-submit {
  margin-top: 20px;
}

.container {
  background-color: #E0FFFF;
  height: 100%;
}
