.header {
  /* position: fixed; */
  display: block;
  top: 0;
  left: 0;
 
  width: 100%;
  height: 60px;
  
  background: #242331;
  padding: 10px;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.15em;

  color: #fdfffc;
}

.signout {
  color: white;
  position: fixed;
  top: 10px;
}
